@import "components/colors";

button{
  border:none;
  outline:none;
  font-family: "Cabin medium", sans-serif;
  font-size:14px;
  // cursor:pointer;
}
.btn_avatar{
  display: flex;
  align-items:center;
  justify-content:space-between;
  padding:0 15px;
  height:40px;
  border-radius:6px;
  color:$black-green;
  background-color:white;
  text-decoration:none;
}
.btn_avatar:hover{
  background-color:$btn-bg-grey;
}
.btn_header_action{
  margin-left:5px;
  background-color:$btn-bg-grey;
}
.btn_header_action:hover{
  background-color:$btn-hover-grey;
}
.circle{
  display: flex;
  align-items:center;
  justify-content:center;
  width:32px;
  height:32px;
  border-radius:100%;
}
.picture{
  margin-left: 10px;
  background-color:$btn-active-bg-green;
  color:$green-dark;
  font-size:12px;
}
.btn-menu{
  display: flex;
  align-items:center;
  justify-content:center;
  width:105px;
  height:40px;
  border-radius:6px;
  margin:0 2px 0 2px;
}
.btn-menu:hover{
  background-color:$btn-hover-grey;
}
.btn-right-menu{
  text-decoration:none;
  // padding:10px 20px;
  color:$black-green;
  border-radius:6px;
}
.btn-right-menu:hover{
  background-color:$btn-bg-grey;
}

// ###############
// Clean up still to do
// ###############

.btn_secondary{
  border-radius:25px;
  border: 1px solid #E6E6E6;
  padding:10px 30px;
  font-weight:700;
  text-decoration:none;
  color: #6B6A75;
}
.btn_secondary:hover{
  transform: scale(1.02);
}

.btn_default{
  margin-right:30px;
}

.btn-primary{
  font-family: "Cabin semibold";
  font-size: 14px;
  border-radius:25px;
  padding:8px 34px;
  color:white;
  background:linear-gradient(136deg, #70FFBD, #0ffa8f);
  text-decoration:none;
}
.btn-primary:hover{
  transform: scale(1.02);
}
