.btn_default{
  border-radius:25px;
  padding:10px 30px;
  font-weight:700;
  text-decoration:none;
}
.btn_login{
  background:linear-gradient(136deg, #44f2c8, #00c897);
  color:white;
}
.btn_login:hover{
  opacity:0.9;
  cursor:pointer;
}
.btn_logout{
  border:2px solid white;
  color:white;
}
.btn_logout:hover{
  background-color:white;
  color:#121212;
}
.btn_logged_in_user{
  margin-right:30px;
}
