@import "components/colors";

.devise_page_container{
  display:flex;
  align-items:center;
  height:100vh;
  background:linear-gradient(180deg, white, $body-bg-grey);
}
.devise_form_container{
  text-align: center;
  margin:0 auto;
}
.devise_login_form{
  background-color:white;
  width: 300px;
  margin:0 auto;
  padding:10px 40px;
  border-radius:6px;
}
.devise-logo-container{
  margin-top:15px;
}
.actions input{
  width: 100%;
  border-radius:25px;
  padding:12px 34px;
  color:white;
  background-color: #51E2A0;
  // background:linear-gradient(0,#38CB88,#51E2A0);
  // background:linear-gradient(136deg, #70FFBD, #0ffa8f);
  text-decoration:none;
  border: none;
}
.actions input:hover{
  cursor:pointer;
  background-color:#38CB88;
}
.devise-link{
  color: #51E2A0;
  text-decoration:none;
}
.devise-link:hover{
  color: #38CB88;
}
