.header{
  height:70px;
  display:flex;
	align-items:center;
	justify-content:space-between;

}
.logo_and_search{
  display:flex;
	align-items:center;
	justify-content:space-between;
}
.header_right_info{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
