.header{
  height:70px;
  display:flex;
	align-items:center;
	justify-content:space-between;
  color:white;
}
.logo_and_search{
  display:flex;
	align-items:center;
	justify-content:space-between;
}
.logo{
  width:97px;
}
.header_right_info{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
