.header_bg{
  height:50px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.08);
  display:flex;
}
.header_content{
  display:flex;
	align-items:center;
  justify-content:space-between;
}
.header_left_content{
  display:flex;
	align-items:center;
	justify-content:flex-start;
  width: 230px;

  background-color: yellow;
}
.header_center_content{
  display: flex;
  align-items:center;
  justify-content:center;

  background-color: purple;
}
.header_right_content{
  display:flex;
  align-items:center;
  justify-content:flex-end;

  // background-color: pink;
}
