.searchbar{
  background-color:#121212;
  padding:10px 20px;
  border-radius:25px;
  outline:none;
  border:none;
  color:white;
  font-size: 16px;
  font-weight:700;
  text-align: center;
  width:300px;
}
.searchbar::-webkit-input-placeholder { /* Edge */
  color:white;
}
.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:white;
}
.searchbar::placeholder {
  color:white;
}
.searchbar:hover{
  border:3px white solid;
}
.searchbar:focus{
  outline:none;
  border:3px white solid;
  color:#121212;
  background-color:white;
}
