input {
  font-family: "Cabin medium", sans-serif;
  font-size:14px;
  outline:none;
  padding-left: 20px;
  padding-right: 20px;
}
.field input{
  width: 260px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #EAEAEA;
}
