/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* @import url('https://fonts.googleapis.com/css?family=Raleway:600,700|Ubuntu:400,500,700&display=swap'); */

 @font-face {
   font-family: "Fellix black";
   src: url(/assets/Fellix-Black.otf) format("truetype");
 }
 @font-face {
   font-family: "Fellix bold";
   src: url(/assets/Fellix-Black.otf) format("truetype");
 }
 @font-face {
   font-family: "Cabin bold";
   src: url(/assets/Cabin-Bold.ttf) format("truetype");
 }
 @font-face {
   font-family: "Cabin medium";
   src: url(/assets/Cabin-Medium.ttf) format("truetype");
 }
 @font-face {
   font-family: "Cabin semibold";
   src: url(/assets/Cabin-SemiBold.ttf) format("truetype");
 }
 @import "font-awesome";
 body{
   background-color:#fff;
   color:#6B6A75;
   font-family: "Cabin medium", sans-serif;
   font-size:14px;
   margin:0;
 }
 .container{
   width:1000px;
   margin:0 auto;
 }
 .alert{
   position:absolute;
   bottom:15px;
   right:40px;
   background-color: #F4F4F4;
   padding:20px 30px;
   border-radius:15px;
 }
 h1{
   font-family: "Fellix black";
   font-size: 90px;
   margin-top: 140px;
   color:#01190C;
 }
 h2{
   font-family: "Fellix bold";
   font-size: 24px;
   color:#01190C;
 }
 input {
   /* font-family: 'FontAwesome'; */
 }

 /* #### CSS Parials #### */
@import "components/header";
@import "components/buttons";
@import "components/inputs";
@import "components/devise";
