/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Raleway:600,700|Ubuntu:400,500,700&display=swap');
 @import "font-awesome-sprockets";
 @import "font-awesome";
 body{
   background-color:#121212;
   color:#fff;
   font-family: 'Raleway', sans-serif;
   font-size:14px;
   font-weight:500;
   margin:0;
 }
 .container{
   width:1080px;
   margin:0 auto;
 }
 h1{
   font-size: 80px;
 }
 h2{
   font-size: 30px;
 }
 input {
   font-family: 'FontAwesome';
 }

 /* #### CSS Parials #### */
@import "components/header";
@import "components/buttons";
@import "components/inputs";
