<div class="container">
  <div class="header">

    <div class="logo_and_search">
      <div class="logo">
        logo here
      </div>
      <div class="search">
        <input type="text" name="" placeholder="&#xf002;  Search team, game or player" class="searchbar">
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="header_right_info">
        <div class="btn_secondary">
          <%= current_user.email %>
        </div>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn_logout btn_default"%>
      </div>
    <% else %>
      <div class="header_right_info">
        <div class="btn_secondary">
          Sign in
        </div>
        <%= link_to "Login", teams_index_path, class: "btn_login btn_default"%>
      </div>
    <% end %>

  </div>
</div>
