<% if user_signed_in? %>

  <div class="header">

    <div class="logo_and_search">
      <%= show_svg('logo-roster.svg') %>
    </div>

    <div class="header_right_info">
      <div class="btn_default">
        <%= current_user.email %>
      </div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn_secondary"%>
    </div>

  </div>

<% else %>

  Login screen

<% end %>
