<div class="container">
  <div class="header">
    <div class="logo">
      logo here
    </div>
    <div class="search">
      <input type="text" name="" placeholder="&#xf002;  Search team, game or player" class="searchbar">
    </div>

    <div class="btn_login">Login</div>
  </div>
</div>
